.lightbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lightbox img {
  max-width: 60%; /* 이미지 최대 너비 설정 */
  max-height: 70vh; /* 이미지 최대 높이 설정 */
  display: block;
  margin: 0; /* 가운데 정렬 */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 50px;
  color: #333;
}

.lightbox .prev,
.lightbox .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.lightbox .prev {
  left: 2%;
  font-size: 25px;
}

.lightbox .next {
  right: 2%;
  font-size: 25px;
}
