li {
  list-style: none;
}

img {
  width: 200px;
  height: 200px;
}

.real-upload {
  display: none;
}

.image-preview {
  width: 1080px;
  height: 200px;
  background-color: rgb(168, 168, 168);
  display: flex;
  gap: 10px;
}
