@import "downMenu.css";
@import "animation.css";

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  margin-left: 4%;
}

.menu__icon-box i {
  display: block;
  margin: 0 auto;
  margin-top: 8%;
  padding-left: 250px;
  padding-bottom: 8%;
  transform: translate(
    calc(var(--side-bar-width) * -0.8),
    0
  ); /* X축 이동, Y축 고정 */
  transition: 0.7s;
}

/* 2차 이상의 메뉴를 숨기기 */
.menu > ul ul {
  display: none;
}

/* 사이드바의 너비와 높이를 변수를 통해 통제 */
:root {
  --side-bar-width: 250px;
  --side-bar-height: 100vh;
}

.menu {
  position: fixed; /* 스크롤을 따라오도록 지정 */
  width: var(--side-bar-width);
  z-index: 2;
  min-height: var(
    --side-bar-height
  ); /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
  margin-top: calc(
    (100vh - var(--side-bar-height)) / 2
  ); /* 사이드바 위와 아래의 마진을 동일하게 지정 */
  right: 0;
}

/* 모든 메뉴의 a에 속성값 부여 */
.menu ul > li > a {
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  text-align: right;
}
