body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #507b88d3;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  background-color: #f1f1f1d9;
}
