.scrollbar {
  position: relative;
}

.bar1 {
  width: 4px;
  height: 50%;
  background-color: #000;
  position: fixed;
  left: 5%;
  bottom: 34%;
}

.bar2 {
  width: 45%;
  height: 4px;
  background-color: #000;
  position: fixed;
  bottom: 5%;
  right: 10%;
}
